extends base

block main
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(name="email", type="text", placeholder="Email", required, value=loggedInUser.email)
        input(name="username", type="text", placeholder="Username", required, value=loggedInUser.username)
        input(name="nickname", type="text", placeholder="Nickname", required, value=loggedInUser.nickname)
        button Submit
        if !loggedInUser.socialOnly
            br
            a(href="changePassword") Change Password &rarr;