extends base

block main
    ul 
        li 
            a(href="/process") Process
        hr
        li
            a(href="/skills") Skills
        hr
        li
            a(href="/errors") Errors 
        hr
        li 
            a(href="/reviews") Reviews
        hr